<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="longho.nienluan.traicayngoainhap">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.ManHinhChao.ManHinhChaoActivity"
            android:screenOrientation="portrait">
            //không xoay màn hình
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.TrangChu.TrangChuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DangNhap_DangKy.DangNhapActivity"
            android:label="Đăng nhập/Đăng ký"
            android:screenOrientation="portrait" />
        <activity android:name=".View.GuiEmail.EmailActivity"/>
        <activity
            android:name=".View.HienThiTraiCayTheoDanhMuc.HienThiTraiCayTheoLoaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.HienThiTraiCayTheoDanhMuc.HienThiTraiCayTheoQuocGiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.HienThiTraiCayTheoDanhMuc.HienThiTraiCayKhuyenMaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ChiTietTraiCay.ChiTietTraiCayActivity"
            android:screenOrientation="portrait"
            android:label="Chi tiết trái cây"/>
        <activity android:name=".View.DanhGia.ThemDanhGiaActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"/>
        <activity
            android:name=".View.DanhGia.DanhSachDanhGiaActivity"
            android:label="Đánh giá"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.GioHang.GioHangActivity"
            android:screenOrientation="portrait"
            android:label="Giỏ hàng"/>
        <activity
            android:name=".View.DatHang.DatHangActivity"
            android:label="Đặt hàng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DonDatHang.DonDatHangActivity"
            android:label="Đơn đặt hàng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ThongTinNguoiDung.ThongTinNguoiDungActivity"
            android:label="Thông tin người dùng"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CaiDat.CaiDatActivity"
            android:label="Cài đặt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DoiMatKhau.DoiMatKhauActivity"
            android:label="Đổi mật khẩu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ThongTinNguoiDung.GoiYLayMatKhauActivity"
            android:label="Gợi ý lấy lại mật khẩu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DoiMatKhau.QuenMatKhauActivity"
            android:label="Quên mật khẩu"
            android:screenOrientation="portrait" />
    </application>

</manifest>